* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: #218c74;
    display: flex; /*All the elements will be automatically arranged in a row*/
    align-items: flex-end; /*To bring the elements down in the div*/
    padding-left: 1rem;
}

.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
}

.cellprop-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprop-actions-cont > * { /*Applies to everything that comes inside the specified div*/
    display: inline-block;
    margin-right: 1rem;
}

.cellprop-actions-cont > select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 0.2rem;
}

.font-size-prop {
    padding: 0.2rem;
}


.formula-actions-cont {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-actions-cont > * {
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-actions-cont > input {
    border: none;
    outline: none; 
    height: 70%;   
}
.address-bar {
    width: 5rem;
    margin-right: 1rem;
    text-align: center;
}
.formula-icon {
    width : 1.2rem;
}
.formula-bar {
    width: calc(100vw - 1rem - 1rem - 5rem - 0.7rem - 0.7rem);
}


.sheet-actions-cont {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    gap: 1rem; /*Gap will be provided in between the elements*/
}
.sheet-actions-cont > * {
     display: inline-block;
}
.sheet-add-icon {
    width: 2vw;
}
.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: calc(100vw - 2vw);

}
.sheet-folder {
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration-thickness: 2px;
}


.grid-cont {
    background-color: #ecf0f1;
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: auto;
}
.top-left-dummy-box { 
    height: 1.7rem;
    width: 2rem;
    background-color: #747d8c;
    position: fixed;
    z-index: 5; /*makes the element opaque, prevents other elements from appearing beneath it when scrolled*/   
}
.address-col-cont {
    width: 2rem;
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-col {
    border: 1px solid #dfe4ea;
    height: 1.7rem;
    width: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
    width: calc(100vw - 2rem);
}
.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}
.address-row {
    border: 1px solid #dfe4ea;
    height: 1.7rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /*To make your flex item take the specified width, and prevent them from automatically shrinking*/
}
.row-cont {
    display: flex;
}

.cell {
    border: 1px solid #dfe4ea;
    height: 1.7rem;
    width: 6rem;
    flex-shrink: 0;
    outline-color: #0a673d;
}
